<!DOCTYPE html>
<html>
  <head>
    <title>CaipChallenge</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div class="header">
    <a href="/">
      <h1>Andrey Yamburg</h1>
    </a>
  </div>

  <body>
    <%= yield %>
  </body>

  <footer></footer>
</html>
